body {
  background-color: tan;
  color: indianred;
  font-size: 20px;
  font-family: "Arimo", sans-serif;
}
.header {
  text-align: center;
  background-color: seashell;
  border: 5px solid brown;
  padding: 50px 25px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 50px 30px 50px;
}
.cats {
  text-align: center;
  background-color: seashell;
  border: 3px solid brown;
  padding: 50px 25px;
  font-size: 20px;
  margin: 10px 50px 30px 50px;
}

img {
  width: 400px;
}
#h3 #h4 #h5 {
  font-size: 40px;
  font-weight: bold;
}
#verytop {
  font-size: 50px;
}
